<footer class="print:hidden w-full flex mt-8 py-2 text-neutral-900 bg-neutral-300 border-b z-10
border-gray-400 dark:border-gray-700 dark:text-gray-100 dark:bg-gray-900">
	<div class="container flex items-center justify-between mx-auto">
		<p>
			© Dominik Riedig 2014-<%- currentyear %> - 
			<a href="/imprint" class="text-blue-600 dark:text-blue-400 hover:decoration-blue-600 dark:hover:decoration-blue-400 hover:underline font-bold">Impressum</a>
			<a href="/settings" class="ml-4 text-blue-600 dark:text-blue-400 hover:decoration-blue-600 dark:hover:decoration-blue-400 hover:underline font-bold">Einstellungen</a>
		</p>
	</div>
</footer>
