<nav class="print:hidden fixed top-0 lg:static w-full flex h-16 lg:mb-8 text-neutral-900 bg-neutral-300 border-b z-10
	          border-gray-400 dark:border-gray-700 dark:text-gray-100 dark:bg-gray-900 overflow-x-hidden">
		<div class="container flex items-center justify-between h-full mx-auto">
			<div class="flex items-center h-full">
				<a href="/" class="flex items-center h-full mr-16 align-middle cursor-pointer">
					<%- heroicon({icon: 'academic-cap', classes: 'self-center inline h-6 mr-2'}) %> 
					<span class="text-xl font-semibold tracking-tight">Dominik Riedig</span>
				</a>
				<ul class="flex items-center h-full align-middle">
					<li class="relative flex h-full z-[1] before:absolute before:bottom-auto
					before:m-auto before:w-full before:h-0 before:transparent
					before:-z-[1] motion-safe:before:transition-all before:duration-[0ms] motion-safe:before:duration-[400ms]
					hover:before:h-full hover:before:bg-gray-700">
						<a href="/" class="h-full items-center align-middle flex px-4">Home</a>
					</li>
					<li class="relative flex h-full z-[1] before:absolute before:bottom-auto
					before:m-auto before:w-full before:h-0 before:transparent
					before:-z-[1] motion-safe:before:transition-all before:duration-[0ms] motion-safe:before:duration-[400ms]
					hover:before:h-full hover:before:bg-gray-700">
						<a href="/about" class="h-full items-center align-middle flex px-4">About me</a>
					</li>
					<li class="relative flex h-full z-[1] before:absolute before:bottom-auto
					before:m-auto before:w-full before:h-0 before:transparent
					before:-z-[1] motion-safe:before:transition-all before:duration-[0ms] motion-safe:before:duration-[400ms]
					hover:before:h-full hover:before:bg-gray-700">
						<a href="/settings" class="h-full items-center align-middle flex px-4">Settings</a>
					</li>
				</ul>
			</div>
			<div class="flex items-center h-full">
				<ul class="flex items-center h-full gap-8">
					<li><button class="px-2 py-1 text-gray-900 bg-blue-500 rounded shadow">Sign in</button></li>
				</ul>
			</div>
		</div>
	</nav>
