<nav class="print:hidden fixed top-0 lg:static w-full flex h-16 lg:mb-8 text-neutral-900 bg-neutral-300 border-b z-10
	          border-gray-400 dark:border-gray-700 dark:text-gray-100 dark:bg-gray-900 overflow-x-hidden">
		<div class="container flex items-center justify-between h-full mx-auto">
			<div class="flex items-center h-full">
				<a href="/" class="flex items-center h-full mr-16 align-middle cursor-pointer">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" viewBox="0 0 20 20" fill="currentColor"><path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" /></svg>
					<span class="text-xl font-semibold tracking-tight">Dominik Riedig</span>
				</a>
				<ul class="flex items-center h-full align-middle">
					<li class="relative flex h-full z-[1] before:absolute before:bottom-auto
					before:m-auto before:w-full before:h-0 before:transparent
					before:-z-[1] motion-safe:before:transition-all before:duration-[0ms] motion-safe:before:duration-[400ms]
					hover:before:h-full hover:before:bg-gray-700">
						<a href="/" class="h-full items-center align-middle flex px-4">Home</a>
					</li>
					<li class="relative flex h-full z-[1] before:absolute before:bottom-auto
					before:m-auto before:w-full before:h-0 before:transparent
					before:-z-[1] motion-safe:before:transition-all before:duration-[0ms] motion-safe:before:duration-[400ms]
					hover:before:h-full hover:before:bg-gray-700">
						<a href="/about" class="h-full items-center align-middle flex px-4">About me</a>
					</li>
					<li class="relative flex h-full z-[1] before:absolute before:bottom-auto
					before:m-auto before:w-full before:h-0 before:transparent
					before:-z-[1] motion-safe:before:transition-all before:duration-[0ms] motion-safe:before:duration-[400ms]
					hover:before:h-full hover:before:bg-gray-700">
						<a href="/settings" class="h-full items-center align-middle flex px-4">Settings</a>
					</li>
				</ul>
			</div>
			<div class="flex items-center h-full">
				<ul class="flex items-center h-full gap-8">
					<li><button class="px-2 py-1 text-gray-900 bg-blue-500 rounded shadow">Sign in</button></li>
				</ul>
			</div>
		</div>
	</nav>
