<footer class="print:hidden w-full flex mt-8 py-2 text-neutral-900 bg-neutral-300 border-b z-10
border-redgray-400 dark:border-redgray-700 dark:text-redgray-100 dark:bg-redgray-900">
	<div class="container flex items-center justify-between mx-auto">
		<p>
			© Dominik Riedig 2014-<%- currentyear %>
		</p>
	</div>
</footer>
